.footerContext .navList ul{
    text-align: center;
    display: flex;
}

.navList li{
    text-align: center;
    list-style-type: none;
    padding: 0.5rem;
    cursor: pointer;
}

.navList li:hover{
    background-color: black;
    color: white;
}

.footerContext img{
    max-width: 2rem;
}

.footerContext li{
    list-style-type: none;
}

.social-networks{
    display: flex;
}

.social-networks li{
    text-align: center;
    padding: 0.5rem;
}
