header nav ul{
    list-style-type: none;
    display: flex;
    font-size: 2rem;
}

header nav ul li{
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li:hover{
    background-color: black;
    color: white;
}

.burger-bar{
    display: none;
}

@media screen and (max-width: 1279px){
    header nav ul{
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        display: none;
    }

    header .profileIcon{
        display: none;
    }
    
    .burger-bar{
        display: block;
        cursor: pointer;
        font-size: 2rem;
    }
}