.productConteiner{
    background-color: #e5e2e2;
    border: 2px solid #C0C0C0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    max-width: 25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stock{
    color: red;
    font-size: 2rem;
    font-weight: 1000;
}

.green{
    color: green;
}

.red{
    color: red;
}

.productImage img{
    max-height: 15rem;
    padding: 0.5rem;
}

.productDescription{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profuctPrice{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.profuctPrice h1{
    font-size: 2rem;
}

.profuctPrice h2{
    font-size: 1.3rem;
    color: #676467;
    text-decoration: line-through red 2px;
}

.ProductAddToCart{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductAddToCart button{
    width: 10rem;
    height: 3rem;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.ProductAddToCart button:hover{
    background-color: black;
    color: white;
}