.single-PostContainer{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    padding: 1.25rem;
    gap: 1.875rem;
}

.single-PostBody{
    width: 50%;
    line-height: 2rem;

    font-size: 1.25rem;
}

.single-PostReactions{
  display: flex;
  align-items: center;
  gap: 2.8rem;
  
}

.single-PostReactions img{
    width: 1.2rem;
}


.single-PostLike{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.single-PostDislike{
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }


.single-PostTags{
    font-weight: 600;
}

.single-PostViwes{
    font-size: 0.9rem;
  color: gray;
  margin-bottom: 1.125rem;
}