.body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

Header{
    flex-shrink: 0;
    width: 100%;
}

#root{
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
}

Footer{
    flex-shrink: 0;
    width: 100%;
}

