.product-page{
    padding: 20px 0px;
  }
  
.search-input{
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input input{
  padding: 0.5rem 1.5rem;
  border-radius: 0.6rem;
  border: none;
  box-shadow: 
  0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.1), 
  -0.3rem -0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.1), 
  -0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.05), 
  0.3rem -0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.05);

}
  
.product-page h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #000;
  /* padding: 20px 0px; */
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  cursor: pointer;
  margin: 0 2rem;
}

.product-card {
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  box-shadow: 
  0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.1), 
  -0.3rem -0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.1), 
  -0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.05), 
  0.3rem -0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.05);
}

.product-card:hover {
  transform: scale(1.04);
      box-shadow: 
  0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15), 
  -0.5rem -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15), 
  -0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.08), 
  0.5rem -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.08);
}

.product-image {
  width: 100%;
  max-height: 275.5px;
  height: auto;
  object-fit: contain;
}

.product-info {
  padding: 13px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-info h2 {
  font-size: 1.4rem;
  color: #292929;
  text-align: center;
  margin-top: 15px;
}

.product-description {
  font-size: 1rem;
  color: #5d5d5d;
  margin: 15px 0px;
  text-align: justify;
  line-height: 1.2;
  flex-grow: 1;
}

.product-price {
  font-size: 1.3rem;
  color: #d87d4a;
  font-weight: bold;
  margin-top: auto;
}

.product-last-price{
  font-size: 1.3rem;
  color: #676467;
  text-decoration: line-through red 2px;
}

.loading-placeholder {
  text-align: center;
  margin: 30px 0;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #d87d4a;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 60px;
}

.detailed-product_image {
  max-width: 80%;
  height: 50%;
  object-fit: contain;
  margin-bottom: 20px;
  overflow: hidden;
}

.detailed-product_page {
  max-height: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  padding: 20px;
  gap: 20px;
}
.detailed-product_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skeleton-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.skeleton-card {
  background-color: #e0e0e0;
  height: 400px;
  border-radius: 10px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
