:root {
    --profileSecondaryColor: #708090  ;
    --profileTextColor: #333333 ;
    --profileAccent: #50C878 ;
}

#profile-page .grid-item {
  padding: 1.5rem;
  border-radius: 0.75rem;
  color: var(--profileTextColor);
  background-color: var(--profileSecondaryColor);
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
  width: clamp(19rem, 80%, 28rem);
  align-items: flex-start;
  box-shadow: 0.25rem 0.1rem 0.5rem 0.5rem var(--profileAccent);
}

#profile-page .grid-item h6 {
  font-size: 1.5rem;
  color: var(--profileAccent);
  border-bottom: 1px solid var(--profileAccent);
  padding-bottom: 0.5rem;
  align-self: center;
  width: 100%;
}
#profile-page .grid-item span {
  color: var(--profileAccent);
  font-weight: 700;
}

#profile-page .payment-info {
  width: clamp(31rem, 80%, 47rem);
  grid-area: 3 / 1 / 4 / 3;
}

