/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/home/index.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.search-job{
  position: relative;                 
  width: 100%;   
  background-image: url(/_next/static/media/close-up-young-business-team-working.bd49829f.jpg);
  background-size: cover;             
  background-position: center;         
  background-repeat: no-repeat;        
  overflow: hidden; 
}

.search-job::before {
  content: "";                         
  position: absolute;                   
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(102, 92, 194, 0.6);  
  z-index: 0;                          
}

.serach-job-left, .search-job-right{
  position: relative;                 
  z-index: 1;                         
  color: white;                      
}
