.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
}

.homeSlider {
  position: relative;
  width: 100%;
  max-height: calc(100vh - 12.875rem);
  margin: 1rem 0;
  overflow: hidden;
  background: #ccc;
}

.homeSlide img{
  height: 28rem;
}

.homeSlide {
  min-width: 100%;
  transition: opacity 0.5s ease;
}

.homeContainer button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
}

.homeContainer .prev {
  padding: 2rem;
  left: 2rem;
}

.homeContainer .prev:hover{
  background-color: black;
  color: white;
}

.homeContainer .next {
  padding: 2rem;
  right: 2rem;
}

.homeContainer .next:hover{
  background-color: black;
  color: white;
}

