.search-job{
  position: relative;                 
  width: 100%;   
  background-image: url('../../../public/home/close-up-young-business-team-working.jpg');
  background-size: cover;             
  background-position: center;         
  background-repeat: no-repeat;        
  overflow: hidden; 
}

.search-job::before {
  content: "";                         
  position: absolute;                   
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(102, 92, 194, 0.6);  
  z-index: 0;                          
}

.serach-job-left, .search-job-right{
  position: relative;                 
  z-index: 1;                         
  color: white;                      
}